/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vmin;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}


.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}



/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-feature-image img {
    margin-inline: auto;
    width: 100%;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body, main {
    display: grid;
    justify-items: center;
    color: #333333;

}

p {
    line-height: 24px;
}

.section_container {
    display: grid;
    justify-self: center;
    width:90%;
}

.text_input {
    font-size: 1rem;
    padding: 12px 12px;
    border-radius: 6px;
    line-height: 24px;
    border: 1px solid #e5e7eb;
}

.link_text {
    color:#333333;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.closed_menu {
    display:grid;
    height: 0;
    opacity: 0;
    place-items: center;
    gap:12px;    
    transition: height 0.3s linear;
}

.opened_menu {
    padding-bottom: 40px;   
    opacity: 1;
    height:200px;
    transition: opacity 0.3s linear;
    transition: height 0.3s linear;  
}


/* HEADER */

#main_header {
    min-height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 85%;
}

#main_logo {
    max-width: 200px;
}

#menu_icon {
    width: 30px;
    justify-self: end;
}


/* HERO */

#hero_image {
    max-width: 100%;
    object-fit: cover;
}

#welcome_section {
    margin-top: 50px;
    margin-bottom: 30px;
    display: grid;
    width:90%;
    place-items: center;
}

#team_photo {
    max-width: 90%;
    object-fit: cover;
}

#welcome_text {
    width:90%;  
    display: grid;
    align-items: center;
    margin: 30px 0px;
    justify-self: center;
    gap: 20px;
}

#subscribe_component {
    margin-top: 24px;
    display: grid;
    gap:10px;
}

#subscribe_btn {
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px;
}

/* GAME */

#game {
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;  
    align-items: center;
}

#game_section_title {
    display: grid;
    gap:12px;
    margin-bottom: 50px;
}

#game_card {
    display: grid;
    place-items: center;
    gap:24px;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 24px;
}

#concept_image {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#game_text {
    padding: 0px 30px;
    line-height: 30px;
}

#wishlist_btn {
    display: grid;
    grid-template-columns: 135px 1fr;
    gap: 5px;
    align-items: center;
    padding: 12px 40px;
    border-radius: 6px;
    justify-self: center;
    background: linear-gradient( to right, #6fa720 5%, #588a1b 95%);
    border: none;
}

#wishlist_btn_text {
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
    color: #b8dc89;
}

#wishlist_btn_image {
    justify-self: center;
}

/* BLOG */

#blog_section {
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#blog_section_title {
    display: grid;
    gap:12px;
    margin-bottom: 50px;
}

#recent_posts_component {
    display: grid;
    gap:30px;
    place-items: center;
}

.post_card {
    display: grid;
    place-items: center;
    gap: 24px;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 24px;
    border: 1px solid #dddddd;
}

.post_card_image {
    justify-self: center;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post_card_title {
    width: 90%;
}

.post_card_desc {
    width: 90%;
}

.post_card_link {
    font-size: 1.08rem;
    width: auto;
    color:#00b8f1;
    text-decoration: none;
    justify-self: start;
    margin-left: 20px;
    border-bottom: 1px solid #00b8f1;
    line-height: 30px;
}

#blog_btn {
    width: 90%;
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px; 
}

/* TEAM */

#team{
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#team_section_title {
    margin-bottom: 50px;
}

#team_component {
    display: grid;
    place-items: center;
    gap: 30px;
}

.team_card {
    width: 90%;
    display: grid;
    place-items: center;
    gap: 16px;
}
.team_card_image {
    width:100%;
}

.team_card_name {
    width:90%;
}

.team_card_desc {
    width:90%;
}

/* CONTACT */

#contact {
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#contact_section_title {
    margin-bottom: 50px;
}

#contact_component {
    display: grid;
    gap:30px;
}

#message_input {
    border-radius: 6px;
    line-height: 24px;
    font-size: 1rem;
    border: 1px solid #e5e7eb;
    padding: 12px 12px;
}

#send_btn {
    width: 120px;
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px;
}



/* FOOTER */

#main_footer {
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;
    gap: 30px;
}

#footer_nav {
    display:grid;
    place-items: center;
    justify-self: center;
    gap:14px;
}

#arrow_icon {
    width:50px;
    margin-bottom: 12px;
}

#footer_socials {
    margin:24px 0px;
    display:grid;
    place-items: center;
    justify-self: center;
    grid-template-columns: 60px 60px 60px;
}

.social_icon {
    width: 30px;
}

#footer_disclaimer {
    display:grid;
    place-items: center;
    justify-self: center;
    gap:12px;
}

#sodo-search-root {
    display: none;
}

#ghost-portal-root {
    display: none;
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}