

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

/* NEW STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body, main {
    display: grid;
    justify-items: center;
    color: #333333;
}

p {
    line-height: 24px;
}

.section_container {
    display: grid;
    justify-self: center;
    width:90%;
}

.text_input {
    font-size: 1rem;
    padding: 12px 12px;
    border-radius: 6px;
    line-height: 24px;
    border: 1px solid #e5e7eb;
}

.link_text {
    color:#333333;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.link_post {
    
}

/* HEADER */

#main_header {
    min-height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 85%;
}

#main_logo {
    max-width: 200px;
}

#menu_icon {
    width: 30px;
    justify-self: end;
}

#mobile_nav {
    display: grid;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s, height 0.5, linear;
    place-items: center;
    gap:12px;
    transition: 0.5s;
}


/* HERO */

#hero_image {
    max-width: 100%;
    object-fit: cover;
}

#welcome_section {
    margin: 50px 0px;
    display: grid;
    width:90%;
    place-items: center;
}

#team_photo {
    max-width: 90%;
    object-fit: cover;
}

#welcome_text {
    width:90%;  
    display: grid;
    align-items: center;
    margin: 30px 0px;
    justify-self: center;
    gap: 20px;
}

#subscribe_component {
    display: grid;
    gap:10px;
}

#subscribe_btn {
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px;
}

/* GAME */

#game_section {
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;  
    align-items: center;
}

#game_section_title {
    display: grid;
    gap:12px;
    margin-bottom: 50px;
}

#game_card {
    display: grid;
    place-items: center;
    gap:24px;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 24px;
}

#concept_image {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#game_text {
    padding: 0px 30px;
    line-height: 30px;
}

#wishlist_btn {
    display: grid;
    grid-template-columns: 135px 1fr;
    gap: 5px;
    align-items: center;
    padding: 12px 40px;
    border-radius: 6px;
    justify-self: center;
    background: linear-gradient( to right, #6fa720 5%, #588a1b 95%);
    border: none;
}

#wishlist_btn_text {
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
    color: #b8dc89;
}

#wishlist_btn_image {
    justify-self: center;
}

/* BLOG */

#blog_section {
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#blog_section_title {
    display: grid;
    gap:12px;
    margin-bottom: 50px;
}

#recent_posts_component {
    display: grid;
    gap:30px;
    place-items: center;
}

.post_card {
    display: grid;
    place-items: center;
    gap: 24px;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 24px;
    border: 1px solid #dddddd;
}

.post_card_image {
    justify-self: center;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post_card_title {
    width: 90%;
}

.post_card_desc {
    width: 90%;
}

.post_card_link {
    width: 90%;
    color:#00b8f1;
    
}

#blog_btn {
    width: 90%;
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px; 
}

/* TEAM */

#team_section {
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#team_section_title {
    margin-bottom: 50px;
}

#team_component {
    display: grid;
    place-items: center;
    gap: 30px;
}

.team_card {
    width: 90%;
    display: grid;
    place-items: center;
    gap: 16px;
}
.team_card_image {
    width:100%;
}

.team_card_name {
    width:90%;
}

.team_card_desc {
    width:90%;
}

/* CONTACT */

#contact_section {
    padding: 50px 0px;
    display:grid;
    width:100%;  
}

#contact_section_title {
    margin-bottom: 50px;
}

#contact_component {
    display: grid;
    gap:30px;
}

#message_input {
    border-radius: 6px;
    line-height: 24px;
    font-size: 1rem;
    border: 1px solid #e5e7eb;
    padding: 12px 12px;
}

#send_btn {
    width: 120px;
    background-color: white;
    font-size: 1rem;
    padding: 12px 40px;
    border: 1px solid #333333;
    line-height: 24px;
    border-radius: 6px;
}



/* FOOTER */

#main_footer {
    background-color: #f2f2f2;
    padding: 50px 0px;
    display:grid;
    width:100%;
    gap: 30px;
}

#footer_nav {
    display:grid;
    place-items: center;
    justify-self: center;
    gap:14px;
}

#arrow_icon {
    width:50px;
    margin-bottom: 12px;
}

#footer_socials {
    margin:24px 0px;
    display:grid;
    place-items: center;
    justify-self: center;
    grid-template-columns: 60px 60px 60px;
}

.social_icon {
    width: 30px;
}

#footer_disclaimer {
    display:grid;
    place-items: center;
    justify-self: center;
    gap:12px;
}

#sodo-search-root {
    display: none;
}

#ghost-portal-root {
    display: none;
}